<world name='jxl3028' xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:include filename="../models/agent.xacro"/>
    <xacro:include filename="../models/cargo.xacro"/>
    <xacro:include filename="../models/ground.xacro"/>
    <xacro:include filename="../models/obstacle.xacro"/>

    <!-- 一格0.58米 箱子0.455米 -->
    <!-- 车宽0.238 长 0.34 -->
    <xacro:property name="block_w" value="0.58"/>
    <xacro:property name="cargo_w" value="0.455"/>

    <xacro:macro name="putDefaultCargo" params="name initpose">
        <xacro:defineCargo 
            name="${name}"
            vertex="${[[-cargo_w/2,-cargo_w/2],
            [-cargo_w/2,cargo_w/2],
            [cargo_w/2,cargo_w/2],
            [cargo_w/2,-cargo_w/2]]}"
            anchor="${[[0,-cargo_w/2],
            [0,cargo_w/2],
            [-cargo_w/2,0],
            [cargo_w/2,0]]}"
            initpose="${initpose}"
        />
    </xacro:macro>

    <xacro:macro name="putDefaultObstacle" params="pose">
        <xacro:defineObstacle 
            vertex="${[[-cargo_w/2,-cargo_w/2],
            [-cargo_w/2,cargo_w/2],
            [cargo_w/2,cargo_w/2],
            [cargo_w/2,-cargo_w/2]]}"
            pose="${pose}"
        />
    </xacro:macro>

    <xacro:defineGround 
        vertex="${[
            [-block_w*6,-block_w*7],
            [block_w*5,-block_w*7],
            [block_w*5,block_w*8],
            [-block_w*6,block_w*8]
        ]}"
        origin="${[0,0]}"
        resolutionX="0.05"
        resolutionY="0.05"
    />
    <!-- 长 34.7 宽 23.8 -->
    <xacro:defineAgent 
        name="uv05"
        vertex="${[
            [-0.34/2,-0.238/2],
            [-0.34/2,0.238/2],
            [0.34/2,0.238/2],
            [0.34/2,-0.238/2]
        ]}"
        anchor="${[
            [0.238/2 + 0.1, 0]
        ]}"
        initpose="${[0,0,0]}"
        limit_speed="${[1,0,1,0]}"
    />

    <xacro:putDefaultCargo name="c0" initpose="${[0,0,0]}"/>
    <xacro:putDefaultCargo name="c1" initpose="${[0,0,0]}"/>
    <xacro:putDefaultCargo name="c2" initpose="${[0,0,0]}"/>
    <xacro:putDefaultCargo name="c3" initpose="${[0,0,0]}"/>

    <xacro:putDefaultObstacle pose="${[0.87,2.61,0]}"/>
    <xacro:putDefaultObstacle pose="${[2.03,0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-0.29,0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-0.29,1.45,0]}"/>
    <xacro:putDefaultObstacle pose="${[-0.29,2.03,0]}"/>
    <xacro:putDefaultObstacle pose="${[-0.29,3.19,0]}"/>
    <xacro:putDefaultObstacle pose="${[-0.29,3.77,0]}"/>
    <xacro:putDefaultObstacle pose="${[-0.29,4.35,0]}"/>
    <xacro:putDefaultObstacle pose="${[-0.87,0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-1.45,0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-2.03,0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-2.61,0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-3.19,0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-0.29,-0.29,0]}"/>
    <xacro:putDefaultObstacle pose="${[0.29,-0.29,0]}"/>
    <xacro:putDefaultObstacle pose="${[0.87,-0.29,0]}"/>
    <xacro:putDefaultObstacle pose="${[2.03,-0.29,0]}"/>
    <xacro:putDefaultObstacle pose="${[2.61,-0.29,0]}"/>
    <xacro:putDefaultObstacle pose="${[-0.87,-0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-1.45,-0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-2.61,-0.87,0]}"/>
    <xacro:putDefaultObstacle pose="${[-3.19,-1.45,0]}"/>

</world>