<world xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="unfoldVertex" params="vertex:=^">
        <xacro:if value="${vertex}">
            <xacro:property name="v" value="${vertex.pop(0)}"/>
            <vertex>${v}</vertex>
            <xacro:unfoldVertex/>
        </xacro:if>
    </xacro:macro>
    
    <xacro:macro name="defineGround" params="vertex:=^ origin:=${[0,0]}">
        <ground>
            <origin>${origin}</origin>
            <xacro:unfoldVertex vertex="${list(vertex)}" />
        </ground>
    </xacro:macro>

</world>